@error_color: rgba(255,0,0,0.8);
@link_color: rgba(52,58,64,0.5);
@border_box: border-box;
@body_margin: 50px;

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: @border_box;
    -moz-box-sizing: @border_box;
    box-sizing: @border_box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

body {
    background-color: @link_color;
    margin: @body_margin;
}

small {
    color: @error_color;
    margin-left: 55px;
}