{% extends 'awesome_poll_site/navbar.html'%}
{% load static %}

{% block title%}
    <Title>Add Poll</Title>
{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'polls/css/home.less' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'polls:add_poll' %}" method="post">
        {% csrf_token %}
        <h4 class="bold-text form-signin-heading" style="font-family: 'Ultra', sans-serif; margin-left: 20px; margin-top: 3px; font-size: 30px; ">Question</h4>
        <input type="text" class="form-control col-lg-6" name="question_text" placeholder="Poll Question"></input><br>
        <h4 class="bold-text form-signin-heading" style="font-family: 'Ultra', sans-serif; margin-left: 20px; margin-top: 3px; font-size: 30px; ">Choices</h4>
        <ul style="list-style-type: none; padding: 0;" class="choice-list">
            <li>
                <input type="text" class="form-control col-lg-6" name="item0" id="textarea" placeholder="Choice" style="margin-bottom: 10px;" required=""></input>
            </li>
            <li>
                <input type="text" class="form-control col-lg-6" name="item1" id="textarea" placeholder="Choice" style="margin-bottom: 10px;" required=""></input>
            </li>
        </ul>
        <button type="button" class="btn bg-dark add-choice" style="color: white;">Add Item</button>
        <button type="submit" class="btn " style="background-color: rgb(90,254,61); color: white;">Post Poll</button>
    </form>

{% endblock %}