{% extends 'awesome_poll_site/navbar.html' %}navbar

{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'polls/css/home.less' %}">
{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        {% if user.profile.avatar %}
                            <img class="center-cropped" src="{{ request.user.profile.avatar.url }}" width="24px" height="24px" style="border:none;">&nbsp;&nbsp;{{ request.user.first_name }} <span class="caret"></span>
                        {% else %}
                            <img class="center-cropped" src="{% static 'registration/images/default-user-avatar.jpg' %}" width="27px" height="27px" style="border:none;">&nbsp;
                            <span class="caret"></span>
                        {% endif %}
                        {{ request.user.first_name }}
                        <span">
                            {{ question.user_who_asked }}
                        </span>
                        <br>
                        <small style="font-size: 10px; margin-left: 33px;">
                            {{ question.pub_date|date:'f A, M d Y D' }}
                        </small>
                    </div>
                <div class="card-body text-secondary">
                    <h4 class="card-title font-weight-bold" style="color: rgb(52,58,64);">{{ question.question_text }}</h4>
                    <ul class="list-group">
                        <form action="{% url 'polls:vote' question.id %}" method="POST">
                            {% csrf_token %}
                            {% for choice in question.choice_set.all %}
                                <li class="list-group-item">
                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                                    {{ choice.choice_text }}
                                    <label for="choice{{ forloop.counter }}">
                                    </label>
                                </li>
                            {% endfor %}
                            <br>
                            <input type="submit"  class="btn btn-outline-secondary btn-block col-md-auto" value="Vote" /> 
                        </form>
                    </ul>
                  </div>
                </div>
            {% endfor %}
        </ul>

    {% else %}
        <p> No polls are available. </p>
        
    {% endif %}

{% endblock %}

