{% extends 'awesome_poll_site/navbar.html' %}

{% load static %}

{% block title %}
    <title>{{ question.question_text }}</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'polls/css/home.less' %}">
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'polls/js/addchoice.js' %}"></script>
{% endblock%}

{% block content %}
    <h2 class="card-title font-weight-bold" style="color: rgb(52,58,64);">{{ question.question_text }}</h2>
    <ul>
        {% for choice in question.choice_set.all %}
        <li>
            {{ choice.choice_text }} -- {{ choice.votes }} 
            vote{{ choice.votes|pluralize }}
        </li>
        {% endfor %}
        <br>
        {{ error_message }}
    </ul>

    <a href="{% url 'home' %}">Back to polls</a>

{% endblock %}