{% extends 'awesome_poll_site/base.html' %}
{% load static %}

{% block content %}

    <h2>List of questions</h2>
    <ul id="questions">
    </ul>

    <script>
       
    </script>

{% endblock %}

{% include 'polls/questions_mustache.html'%}
