@body_margin: 100px 0px;
@obj_fit: cover;
@obj_pos: center;
@obj_radius: 500px;
@obj_border: 0.5px solid lightgray;

body {
    margin: @body_margin;
}

.center-cropped {
    object-fit: @obj_fit;
    object-position: @obj_pos;
    border-radius: @obj_radius;
    border: @obj_border;
}