{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}{% endblock %}
    {% include 'awesome_poll_site/styles.html' %}
    {% include 'awesome_poll_site/scripts.html' %}
    {% block style %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block nav %}{% endblock %}
        <div class="row">
            <div class="col"></div>
                <div class="col-6">
                    {% block content %}{% endblock %}
                </div>
            <div class="col"></div>
        </div>
    </div>
</body>