{% extends 'awesome_poll_site/base.html' %}
{% load static %}

{% block nav %}
<nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="collapse navbar-collapse">
    <a href="{% url 'home' %}">
    <h4 class="bold-text form-signin-heading" style="color: white; font-family: 'Ultra', sans-serif; margin-left: 25px; margin-top: -3px; margin-bottom: -5px;">Polls</h4>
    </a>
    <h4 class="bold-text form-signin-heading" style="color: white; font-family: 'Ultra', sans-serif; margin-left: 1px; margin-top: 3px; font-size: 15px; margin-bottom: -5px;">.com</h4>
    <h6 class="bold-text form-signin-heading" style="color: white; font-family: 'Anonymous Pro', sans-serif; margin-left: 15px; margin-bottom: -11px; font-size: 14px;">| vote on all things</h6>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <div class="dropdown">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="{% url 'polls:add_poll' %}">
            <img src="{% static 'polls/images/addpoll.png' %}">  
        </a>
            {% if request.user.is_authenticated %}
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                {{ request.user }}
            </button>
            {% if user.profile.avatar %}
              <img class="center-cropped" src="{{ request.user.profile.avatar.url }}" width="24px" height="24px" style="border:none;">&nbsp;&nbsp;<span class="caret"></span>
            {% else %}
              <img class="center-cropped" src="{% static 'registration/images/default-user-avatar.jpg' %}" width="24px" height="24px" style="border:none;">&nbsp;&nbsp; <span class="caret"></span>
            {% endif %}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'registration:edit_profile' %}">Edit Profile</a>
                <a class="dropdown-item" href="{% url 'registration:log_out' %}">Log out</a>
            </div>
            {% else %}
                <a href="{% url 'registration:log_in' %}" class="btn btn-primary">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}
