{% load static %}

<!-- bootstrap popper is buggy with require so i had to load it manually -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" 
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" 
            crossorigin="anonymous"></script>

<script src="{% static 'awesome_poll_site/js/require.js' %}"></script>
<script src="{% static 'awesome_poll_site/js/config.js' %}"></script>

<script>
    requirejs(['jquery', 'mustache', 'less'], 
        function($, Mustache) {

            console.log("loaded");
                
            // add choice in addpoll

            i = 2;
            $(document).ready(function() {
                $(".add-choice").click(function(){
                    console.log(i);
                    $(".choice-list").append('<li><input type="text" class="form-control col-lg-6" name="item' + i + '" id="textarea" placeholder="Choice" style="margin-bottom: 10px;" required=""></input></li>');
                    i++;
                });
            });

            // load questions

            // $(function() {
            //     console.log("hey!");
            //     var url = "{% url 'polls:try_mustache' %}";
            //     console.log(url);

            //     $.ajax({
            //         url: url, type: 'get', success: function (data) {
            //             // body...
            //             // data = JSON.parse(data);
            //             data = JSON.parse(data.questions);
            //             console.log(data);
            //             // var template = $('#questions-template').html();
            //             var info = Mustache.to_html(template, data);
            //             $('#questions').html(info);
            //         }
            //     });
            // });
            // console.log("hey");
    });    
</script>
