{% extends 'awesome_poll_site/navbar.html' %}
{% load static %}

{% block title %}
 	<Title>Edit Profile</Title>
{% endblock %}

{% block style %}
	<link rel="stylesheet/less" type="text/css" href="{% static 'registration/css/edit_profile.less' %}">
{% endblock %}

{% block content %}
	<div class="col-lg-6"></div>
	<div class="col-lg-6">
	  <form action="{% url 'registration:edit_profile' %}" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
			<br><br><br><br>
		  <div class="form-group imagepreview">
			<div style="text-align:center; margin-bottom:10px;">
			  {% if user.profile.avatar %}
				<img id="preview" class="center-cropped" src="{{user.profile.avatar.url}}" width="96px" height="96px" style="border: 2px;">
			  {% else %}
				<img id="preview" class="center-cropped" src="{% static 'registration/images/default-user-avatar.png' %}" width="96px" height="96px">
			  {% endif %}
			</div>
		  </div>
		  <div class="form-group">
				  <div class="input-group">
					  <span class="input-group-btn">
						  <span class="btn btn-default btn-file">
							  Browse… <input type="file" name="avatar" id="imgInp">
						  </span>
					  </span>
					  <input type="text" class="form-control" readonly>
				  </div>
				  <img id='img-upload'/>
			  </div>
		  <div class="form-group">
			  <input type="text" class="form-control" id="firstname" placeholder="First Name" name="first_name">
		  </div>
		  <div class="form-group">
			  <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="last_name">
		  </div>
		  <div class="form-group">
			  <input type="password" class="form-control" id="pwd" placeholder="Password" name="password1">
		  </div>
		  <div class="form-group">
			  <input type="password" class="form-control" id="pwd" placeholder="Confirm Password" name="password2">
		  </div>
			  <div style="text-align:center;">
				  <button class="btn btn-primary">Save</button>
			  </div>
		  </div>
	  </form>
	</div>
	<div class="col-lg-3"></div>
{% endblock %}