{% extends 'awesome_poll_site/base.html' %}
{% load static %}

{% block title %}
    <title>
        Welcome to polls.com
    </title>
{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'registration/css/login.less' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
        <div class="col-7" style="margin-top:40px">
            <form action="{% url 'registration:log_in' %}" method="post" class="form-signin">
                {% csrf_token %}
                <h1 class="bold-text form-signin-heading" style="color: white; font-family: 'Ultra', sans-serif; margin-left: 25px; margin-bottom: -5px;">Polls</h1>
                <h4 class="bold-text form-signin-heading" style="color: white; font-family: 'Anonymous Pro', sans-serif; margin-left: 25px; font-size: 20px;">Vote on all things</h4>
                <input type="name" name="username" class="form-control"
                    placeholder="Username" value="{{ username }}" style="margin-bottom: 10px;" required autofocus>
                <input type="password" name="password" class="form-control"
                    placeholder="Password" required>
                <small>
                    {{ error}}
                </small>
                <button class="btn btn-secondary btn-block" type="submit" style="margin-top:10px; background-color: rgb(52,58,64);">Log in</button><br>
                <p class="message" style="color: white; margin-bottom: -5px; margin-left: 73px; font-family: 'Anonymous Pro';">Not registered? 
                </p>
                <p class="message" style="color: white; margin-left: 65px; font-family: 'Anonymous Pro';">
                    <a href="{% url 'registration:sign_up' %}" style="color: rgb(90,254,61)">Create an account</a>
                </p>
                
            </form>
        </div>
    <div class="col"></div>
</div>
{% endblock %}