{% extends 'awesome_poll_site/base.html' %}
{% load static %}

{% block title %}
    <title>
        Create an Account
    </title>
{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'registration/css/login.less' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
            <div class="col-7" style="margin-top:40px">
                <form action="{% url 'registration:sign_up' %}" method="POST" class="form-signin">
                    {% csrf_token %}
                    <h1 class="bold-text form-signin-heading" style="color: white; font-family: 'Ultra', sans-serif; ">Sign up in Polls</h1>
                    <input type="name" name="username" class="form-control"
                        placeholder="Username" value="{{ username }}" style="margin-bottom: 10px;" required autofocus>
                    <input type="email" name="email" class="form-control"
                        placeholder="Email Address" value="{{ email }}" style="margin-bottom: 10px;" required autofocus>
                    <input type="password" name="password1" class="form-control"
                        placeholder="Password" required>
                    <input type="password" name="password2" class="form-control"
                        placeholder="Confirm Password" required>
                        {% if username_error %}
                        <small>
                            {{ username_error }}
                        </small>
                        {% endif %}
                        {% if email_error %}
                        <small>
                            {{ email_error }}
                        </small>
                        {% endif %}
                        {% if password_error %}
                        <small>
                            {{ password_error }}
                        </small>
                        {% endif %}
                    <button class="btn btn-secondary btn-block" type="submit" style="margin-top:10px; background-color: rgb(52,58,64);">Create account</button><br>
                    <p class="message" style="color: white; margin-bottom: -5px; margin-left: 60px; font-family: 'Anonymous Pro';">Already Registered? 
                    </p>
                    <p class="message" style="color: white; margin-left: 110px; font-family: 'Anonymous Pro';">
                        <a href="{% url 'registration:log_in' %}" style="color: rgb(90,254,61)">Log In</a>
                    </p>
                </form>
            </div>
        <div class="col"></div>
    </div>
{% endblock %}
